@import '../../global.scss';
.screenContainer {
  height: 72px;
  display: block;
  border: 1px solid var(--screenBorder);
  border-radius: 8px;
  margin: auto;
  padding: 10px 14px 0 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
  &:hover {
    background-color: var(--screenHover);
  }
  &.active {
    border-color: var(--screenActiveBorder);
  }
}

