@import "../../../global.scss";

.containerHistoryPanel {
  z-index: 10;
  position: absolute;
  top: 30px;
  left: 30px;
  width: 448px;
  height: 258px;
  background-color: rgba(33, 32, 36, 255);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  color: #8ab4f8;
  table {
    border-radius: 4px;
    padding: 6px 12px;
    table-layout: auto;
    width: fit-content;
    tr {
      td {
        text-align: center;
        color: #9aa0a6;
        min-width: 32px;
        &:first-child,
        &:last-child {
          min-width: 32px;
          max-width: 260px;
          color: #8ab4f8;
          border: #9aa0a6 solid 1px;
          border-radius: 4px;
          padding: 6px 12px;
          &:hover{
            background-color: #687a9638;
          }
        }
      }
    }
  }
  
}
