@import "../../../global.scss";

.containerHistoryPanel {
  z-index: 10;
  position: absolute;
  top: 30px;
  left: 30px;
  width: 448px;
  height: 258px;
  background-color: var(--historyPanelBg);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: auto;
  scrollbar-color: var(--scrollbarColor);
  color: var(--historyPanelText) ;
  table {
    border-radius: 4px;
    padding: 6px 12px;
    table-layout: auto;
    width: fit-content;
    tr {
      td {
        text-align: center;
        color: var(--historyPanelText);
        min-width: 32px;
        &:first-child,
        &:last-child {
          min-width: 32px;
          max-width: 260px;
          border: var(--historyPanelBorder) solid 1px;
          border-radius: 4px;
          padding: 6px 12px;
          &:hover{
            background-color: var(--historyPanelHover);
          }
        }
      }
    }
  }
  
}
