@import '../../../global.scss';
table {
  table-layout: fixed;
  width: 100%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  tbody {
    tr {
      td {
        div {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 10px;
          cursor: pointer;
          border-radius: 4px;
          margin: 1px;
          &.key-ops {
            background-color: var(--btnKeyOps);
          }
          &.key-num {
            background-color: var(--btnNumber);
          }
          &.key-equal {
            background-color: var(--btnEqual);
            color: #000;
          }
          &.key-rad-deg {
            background-color: var(--btnKeyOps);
            justify-content: space-between;
            padding: 10px 30px;
            span {
              color: #9aa0a6;
            }
            .active {
              color: var(--textColor);
            }
          }
          &.bold {
            font-weight: bold;
          }
          &:hover {
            background-color: var(--btnHover);
          }
        }
      }
    }
  }
}
